# Python/Virtual Environment
# Ignore the virtual environment folder
my/
.my/

# Byte-compiled / object files
__pycache__/
*.pyc
*.pyd
*$py.class

# Django / Development
# The default SQLite database file (if used)
db.sqlite3
/media/

# Configuration and Secrets
# Any file that holds secret keys, passwords, or cloud credentials
*.env
.env
settings_local.py